@charset "UTF-8";
.title
{
    height:50px;
    background-image: linear-gradient(60deg,rgba(218, 169, 215, 0.637),rgba(128, 174, 235, 0.904));
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}
.info
{
    height:calc(100% - 50px);
    width: 100%;
    margin: 0;
    border: none;
}
html{
    height:100%;
    width:100%
}
body{
    margin:0;
    user-select: none;
    -webkit-user-select: none;
}
.item{
    display: inline-block;
    margin:8px;
    padding: 8px 16px;
    vertical-align: middle;
    color:white;
    cursor: pointer;
    transition-duration: 300ms;
    border-radius: 4px;
    /*height: 100%;*/

}
.item:hover{
    background-color:white;
    color:black;

}
.menu
{
    margin: 0 auto;
    text-align:center;
    height:100%;
}
.left
{
    margin: auto 0;
}
.right
{
    margin: auto 0;
}
.disabledItem{
    display: inline-block;
    margin:8px;
    padding: 8px 16px;
    vertical-align: middle;
    color:white;
    border-radius: 4px;
    /*height: 100%;*/

}